Repository blockSightLive/blocksight-main, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maintainers, @backend-team, @frontend-team, @devops-team

diagram_fix
  project-documents/system-diagrams/01-system-context-diagram.md
  project-documents/system-diagrams/02-component-architecture-diagram.md
  project-documents/system-diagrams/03-data-flow-diagram.md
  project-documents/system-diagrams/04-sequence-diagrams.md
  project-documents/system-diagrams/05-class-diagrams.md
  project-documents/system-diagrams/06-deployment-diagram.md
Owners: @maintainers

ci: add backend typecheck/lint/build workflow; added Docker;
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.dev.yml
  docker-compose.stack.yml
  docs/automation-playbook.md
  docs/code-standard.md
  docs/developer-handbook.md
  docs/infrastructure/docker.md
  docs/install-notes.md
  docs/onboarding.md
  project-documents/00-model-spec.md
  project-documents/01-development-roadmap.md
  project-documents/01-execution-checklists.md
  project-documents/system-diagrams/06-deployment-diagram.md
  project-documents/system-diagrams/09-component-electrum-adapter.md
Owners: @devops-team, @maintainers

chore(eslint): migrate backend to ESLint v9 flat config; fix CI lint
  backend/eslint.config.js
  backend/package.json
Owners: @backend-team

test(ci): add jest + supertest health check; migrate ESLint to flat config (.mjs); relax bootstrap rules
  .github/workflows/ci.yml
  backend/.eslintrc.json
  backend/eslint.config.mjs
  backend/jest.config.ts
  backend/package.json
  backend/src/types/dev-shims.d.ts
  backend/tests/health.e2e.test.ts
  docs/automation-playbook.md
Owners: @devops-team, @backend-team, @maintainers

test: add jest/supertest baseline; types: return Express from createApp; docs: align testing + ESLint flat config; style: forbid any in code/tests
  backend/src/app.ts
  backend/tests/health.e2e.test.ts
  docs/README.md
  docs/automation-playbook.md
  docs/code-standard.md
  docs/developer-handbook.md
  docs/install-notes.md
Owners: @backend-team, @maintainers

documentation alignment
  project-documents/00-model-spec.md
  project-documents/01-execution-checklists.md
  project-documents/system-diagrams/06-deployment-diagram.md
Owners: @maintainers

feat(backend): scaffold Electrum adapter + routes with fake adapter; add initial route tests
  backend/src/adapters/electrum/fake.adapter.ts
  backend/src/adapters/electrum/types.ts
  backend/src/app.ts
  backend/src/controllers/electrum.controller.ts
  backend/src/routes/electrum.routes.ts
  backend/tests/electrum.routes.test.ts
Owners: @backend-team

fix: resolve frontend test failures - validation functions and BIP32 paths
  backend/src/adapters/ADAPTER_IMPLEMENTATION_STATUS.md
  backend/src/adapters/core/core.adapter.ts
  backend/src/adapters/electrum/ELECTRUM_DEVELOPMENT_TODO.md
  backend/src/adapters/electrum/electrum.adapter.ts
  backend/src/adapters/electrum/fake.adapter.ts
  backend/tests/electrum.routes.test.ts
  backend/tsconfig.tsbuildinfo
  frontend/src/reducers/__tests__/bitcoinReducer.test.ts
  frontend/src/reducers/bitcoinReducer.ts
  frontend/src/utils/__tests__/bitcoinValidation.test.ts
  frontend/src/utils/bitcoinValidation.ts
Owners: @backend-team, @frontend-team

Add Vercel deployment configuration for frontend staging
  .vercelignore
  frontend/package-vercel.json
  vercel.json
Owners: @frontend-team

Fix vercel.json syntax and remove unsupported commands
  vercel.json
Owners: none

Fix JSON syntax - remove trailing space
  vercel.json
Owners: none

Fix JSON syntax again
  vercel.json
Owners: none

Move vercel.json to frontend directory for Vercel deployment
  .gitignore
  frontend/vercel.json
  vercel.json
Owners: @frontend-team

Added React Router Dom in frontend DIR. Vercel deploy fixed
  frontend/.gitignore
  frontend/package.json
  package-lock.json
Owners: @frontend-team

docs: comprehensive documentation cleanup and consolidation
  README.md
  docs/DOCUMENTATION-NAVIGATION.md
  docs/README.md
  docs/SECURITY-FAQ.md
  docs/adr/0001-electrum-client-vs-tcp-wrapper.md
  docs/automation-playbook.md
  docs/bitcoin-core-virtualbox-setup.md
  docs/code-standard.md
  docs/developer-handbook.md
  docs/electrs-windows-setup.md
  docs/frontend/README.md
  docs/frontend/naming-conventions.md
  docs/frontend/styles-README.md
  docs/infrastructure/README.md
  docs/infrastructure/electrs-wsl2-stability.md
  docs/install-notes.md
  docs/onboarding.md
  frontend/install-styled-components.md
  frontend/src/styles/README.md
  project-documents/00-model-spec.md
  project-documents/01-development-roadmap.md
  project-documents/01-execution-checklists.md
  project-documents/02-technical-implementation.md
  project-documents/FUTURE-PLANNING-CONSOLIDATED.md
  project-documents/THREEJS_IMPLEMENTATION_PLAN.md
  project-documents/additional/03-future-considerations.md
  project-documents/additional/04-additional-data-collection.md
  project-documents/frontend-implementation-plan.md
  project-documents/system-diagrams/01-system-context-diagram.md
  project-documents/system-diagrams/02-component-architecture-diagram.md
  project-documents/system-diagrams/03-data-flow-diagram.md
  project-documents/system-diagrams/04-sequence-diagrams.md
  project-documents/system-diagrams/05-class-diagrams.md
  project-documents/system-diagrams/06-deployment-diagram.md
  project-documents/system-diagrams/07-activity-tip-and-mempool.md
  project-documents/system-diagrams/08-state-circuit-breaker.md
  project-documents/system-diagrams/09-component-electrum-adapter.md
  project-documents/system-diagrams/10-use-case-diagram.md
  project-documents/system-diagrams/11-package-diagram.md
Owners: @maintainers, @frontend-team

docs: update code standards with Git workflow protection and current system state
  README.md
  backend/src/app.ts
  backend/src/controllers/electrum.controller.ts
  backend/src/routes/electrum.routes.ts
  backend/src/server.ts
  docker-compose.dev.yml
  docs/code-standard.md
  docs/developer-handbook.md
  docs/infrastructure/docker.md
  docs/install-notes.md
  docs/onboarding.md
Owners: @backend-team, @maintainers

fix: complete WebSocket integration, API routes, and TypeScript compilation
  backend/src/server.ts
  backend/src/ws/server.ts
  backend/tests/electrum.routes.test.ts
  backend/tsconfig.tsbuildinfo
Owners: @backend-team

foolish mistake fixed
  backend/src/middleware/error-handler.middleware.ts
Owners: @backend-team

fix(backend): resolve TypeScript lint errors and test type mismatches
  backend/src/adapters/ADAPTER_IMPLEMENTATION_STATUS.md
  backend/src/adapters/electrum/ELECTRUM_DEVELOPMENT_TODO.md
  backend/src/app.ts
  backend/src/controllers/bootstrap.controller.ts
  backend/src/routes/bootstrap.routes.ts
  backend/src/ws/hub.ts
  backend/tests/README.md
  backend/tests/TEST_STATUS.md
  backend/tests/bootstrap.performance.test.ts
  backend/tests/electrum.routes.test.ts
  backend/tests/health.e2e.test.ts
  backend/tsconfig.tsbuildinfo
  docs/API-NAVIGATION.md
  docs/API-STANDARDS.md
  docs/CSS-QUALITY-GUIDE.md
  docs/DOCUMENTATION-CONSOLIDATION-SUMMARY.md
  docs/DOCUMENTATION-INDEX.md
  docs/DOCUMENTATION-NAVIGATION.md
  docs/MIDDLEWARE-DEVELOPER-GUIDE.md
  docs/README.md
  docs/code-standard.md
  docs/css-quality-standards.md
  docs/frontend-bundle-strategy.md
  docs/frontend/README.md
  docs/frontend/styles-README.md
  docs/infrastructure/README.md
  docs/middleware-patterns.md
  docs/testing-standards-checklist.md
  frontend/src/components/dashboard-columns/DashboardData.module.css
  frontend/src/styles/design-tokens/3D_DESIGN_SYSTEM_README.md
  frontend/src/styles/design-tokens/README.md
  package.json
  project-documents/00-model-spec.md
  project-documents/system-diagrams/01-system-context-diagram.md
  project-documents/system-diagrams/02-component-architecture-diagram.md
  project-documents/system-diagrams/12-testing-architecture-diagram.md
Owners: @backend-team, @maintainers, @frontend-team

feat: enhanced logging front and back. productionErrorDetection added to avoid production specific errors arriving undetected.
  backend/src/adapters/core/core.adapter.ts
  backend/src/adapters/electrum/electrum.adapter.ts
  backend/src/controllers/bootstrap.controller.ts
  backend/src/utils/logger.ts
  backend/tsconfig.tsbuildinfo
  docs/BOOTSTRAP_SYSTEM_GUIDE.md
  docs/DOCUMENTATION-INDEX.md
  docs/ERROR_HANDLING_GUIDE.md
  docs/code-standard.md
  frontend/src/components/dashboard-columns/blockchain/ThreeDBlockchain.tsx
  frontend/src/main.tsx
  frontend/src/utils/logger.ts
  frontend/src/utils/productionErrorDetection.ts
  frontend/vite.config.ts
  project-documents/00-model-spec.md
  project-documents/THREEJS_IMPLEMENTATION_PLAN.md
  project-documents/system-diagrams/14-bootstrap-system-diagram.md
Owners: @backend-team, @maintainers, @frontend-team

fixed threeJS render and logger
  frontend/index.html
  frontend/src/components/dashboard-columns/blockchain/ThreeDBlockchain.tsx
  frontend/vite.config.ts
Owners: @frontend-team

HealthChip connected to Bootstrap real state
  backend/src/ws/hub.ts
  backend/tsconfig.tsbuildinfo
  frontend/src/components/HealthChip.tsx
Owners: @backend-team, @frontend-team

.github/CODEOWNERS:

# CODEOWNERS maps file patterns to owners (GitHub teams/users)
# Adjust to your org's teams/users

# Docs
/docs/ @maintainers
/project-documents/ @maintainers

# Backend
/backend/ @backend-team

# Frontend
/frontend/ @frontend-team

# CI/CD
/.github/ @devops-team
